.legend {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 25px !important;
    margin-right: 10px !important;
    vertical-align: middle !important;
}

.legend.pc {
    background: #F7464A;
}

.legend.mobile {
    background: #00A000;
}

span.fragment {
    display: inline-block;
}

span.fragment.grow.visible {
    margin: 0 10px;
}
